* {
    margin: 0;
    padding: 0;
    list-style: none;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Cn', Arial, sans-serif;
}

.wrapper {
    width: 100%;
    text-align: center;
}


h1 {
    font-weight: 100;
    font-size: 30pt;
    color: #FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 5px 5px 5px black;
}

h2 {
    text-shadow: 1px 1px 1px black;
}

#h2_pattern {
    color: #D50000;
}

#h2_reiss {
    color: #ffffff;
}

header {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/hintergrund_header.png);

}

#white_box {
    background: rgba(255,255,255,.5);
    width: 100%;
    height: 60%;
    text-align: center;
    margin: auto;
}

#button_pattern {
    border-radius: 20px;
    background-color: #D50000;
    padding: 10px 24px;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    margin-right: 20px;
    width: 200px;
}

#button_pattern:hover {
    background-color: #4D4B4B;
}

#button_reiss {
    border-radius: 20px;
    background-color: #4D4B4B;
    padding: 10px 24px;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    width: 200px;
}

#button_reiss:hover {
    background-color: #D50000;
}

#button_box {
    margin-top: 20px;
}

#pattern{
    background-image: url(images/hintergrund_patterns.png);
}

#reiss {
    background-image: url(images/hintergrund_reiss.png);
}

a {
    color: white;
    text-decoration: none;
}