* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;

}
html, body {
    height: 100%;
    width: 100%;
    background-image: url(images/hintergrund_patterns.png);
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    
}


h1 {
    font-size: 40pt;
    color: #FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px 15px black;
    font-weight: Bold;
    margin-bottom: 25px;
}

h2 {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 30pt;
}

#h2_pattern {
    color: #D50000;
}

#h2_reiss {
    color: #ffffff;
}

header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/hintergrund_header.png);

}

#white_box {
    background: rgba(255,255,255,.5);
    width: 100%;
    height: 60%;
    text-align: center;
    margin: auto;
}

#button_pattern {
    border-radius: 20px;
    background-color: #ffffff;
    padding: 15px 24px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    margin-right: 20px;
    width: 200px;
    font-size: 15px;
}

#button_pattern:hover {
    background-color: #D50000;
}

#button_pattern:hover a {
    color: white;
}

#button_reiss {
    border-radius: 20px;
    background-color: #4D4B4B;
    padding: 15px 24px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    width: 200px;
    font-size: 15px;
}

#button_reiss a{
    color: white;
}

#button_pattern a{
    color: #4D4B4B;
}

#button_reiss:hover {
    background-color: #D50000;
}

#button_box {
    padding-top: 80px;
}

#pattern{
    /*background-image: url(images/hintergrund_patterns.png);*/
}

#reiss {
    background-image: url(images/hintergrund_reiss.png);
}

a {
    text-decoration: none;
    color: black;
}

.pattern_info_box {
    background-color: #ffffff;
    width: 70%;
    height: auto;
    border: solid 0.2px #707070;
    margin: auto auto 80px auto;
    padding-bottom: 20px;

}

.darkpattern_info_box {
    background-color: #222222 !important;
    color: white; 
}



.darkpattern_info_box .accordion {
    background-color: #222222;
    color: white;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    border-bottom: solid 1px #D50000;
}

li {
    float: left;
    list-style: none;
    padding: 10px 17px;
}

.link:hover {
    color: #D50000;
    cursor: pointer;
}

.accordion {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    padding: 15px;
    width: 95%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    color: #D50000;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.patterntext {
    text-align: left;
    padding: 0 32px;
    padding-top: 20px;
}

.panel_items {
    font-size: 12px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
}