* {
    margin: 0;
    padding: 0;
    list-style: none;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Cn', Arial, sans-serif;
}

.wrapper {
    width: 80%;
    margin: 50px auto; 
}

nav {
    width: 100%;
    height: 100px;
}

nav ul li {
    float: right;
    margin: 0 20px 0 0;
} 

nav ul li:first-child {
    float: left;
}

h1 {
    font-weight: 100;
    font-size: 30pt;
}

h2 {
    font-weight: 100;
    font-size: 10pt;
}